{% extends 'base.html' %}

{% block title %}Search | {% endblock %}

{% block content %}
    <h1 class="title">Search</h1>
    <h2 class="subtitle">search term: "{{ query }}"</h2>

       
        <section class="section new" id="new">
            <div class="new__center container"> 
                <div class="product__center">
                    {% for product in products %}

                    <div class="product">
                        <div class="product__header">
                            <img src="{{ product.thumbnail.url }}" alt="{{product.title}}.jpg">
                            <span class="flex__center">
                                <svg>
                                    <use xlink:href="./images/sprite.svg#icon-camera"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="product__footer">
                            <a href="{% url 'product_detail'   product.category.slug    product.slug %}"><h2>{{product.title}}</h2></a>
                            <div>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        
                            <h4 class="price">&#8358;{{product.price|floatformat:2}}</h4>
                        </div>
                        <a href="{% url 'product_detail'   product.category.slug    product.slug %}"><button type="submit" class="btn btn-outline-success my-2 my-sm-0" class="product__btn">View</button></a>

                    </div> 
                    {% endfor %} 
                </div>
            </div>
        </section>
{% endblock %}