>
 <!--========== MENU ==========-->
            
                
                <div class="menu__container bd-grid">
                    {%  for p in list_products  %}
                    <div class="menu__content">
                        <img src="{{ p.thumbnail.url }}" alt="{{p.title}}.jpg"  class="menu__img">
                        <a href="{% url 'product_detail'   p.category.slug    p.slug %}"><h3 class="menu__name">{{p.title}}</h3></a>
                        <span class="menu__detail"><div>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        </span>
                        <span class="menu__preci">&#8358;{{p.price|floatformat:2}}</span>
                        <a href="{% url 'product_detail'   p.category.slug    p.slug %}" class="button menu__button"><i class='bx bxs-cart-download'></i></i></a>
                    </div>
                    {% endfor %}  
                   
                </div>
            